In [1]:
import pandas as pd

In [2]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

In [3]:
counts.values

array([ 632, 1638,  569,  115])

In [4]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
bacteria = pd.Series([632, 1638, 569, 115], index=['Firmicutes', 'Protebacteria', 'Actinobacteria', 'Bacteroidetes'])
bacteria

Firmicutes         632
Protebacteria     1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

In [6]:
bacteria['Actinobacteria']

569

In [7]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

Protebacteria     1638
Actinobacteria     569
dtype: int64

In [8]:
[name.endswith('bacteria') for name in bacteria.index]

[False, True, True, False]

In [9]:
bacteria[0]

<ipython-input-9-302a79bfab41>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  bacteria[0]

632

In [11]:
loan = pd.read_csv('train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'